* {
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  position: relative;
}
#myCanvas {
  background: #c4c4c4;
  display: block;
  margin: 0 auto;
}
.header {
  padding: 0 10%;
}
.header__list {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.header__item {
  margin-left: 3%;
  list-style: none;
}
.header__item :hover {
  color: #19b5fe;
  text-decoration: underline;
}
.header__link {
  text-transform: uppercase;
  text-decoration: none;
  color: gray;
  font-size: 12px;
}
.main {
  padding: 30px 10% 50px;
  background: linear-gradient(0deg, #ece9e6, #fff);
}
.main__title {
  font-size: 48px;
  font-weight: 600;
  color: #22313f;
}
.main__description {
  font-size: 36px;
  line-height: 1.2em;
  margin: 33px 0 50px;
  padding: 0;
  font-weight: 600;
  color: #22313f;
}
.main__content {
  color: #5f5f5f;
  font-size: 16px;
  line-height: 2.5em;
  margin-bottom: 80px;
}
.main__list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  list-style: none;
  flex-wrap: wrap;
}
.main__text {
  font-size: 14px;
  line-height: 1.5em;
  color: #5f5f5f;
}
.main__item {
  display: flex;
  width: 30%;
  margin-bottom: 53px;
  flex-direction: column;
  align-items: center;
}
.main__item--devices {
  width: 280px;
  height: 100px;
  background-image: url("images/devices.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.main__item--browsers {
  width: 280px;
  height: 100px;
  background-image: url("images/browsers.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.main__item--technologies {
  width: 280px;
  height: 100px;
  background-image: url("images/technologies.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.main__item--tested {
  width: 175px;
  height: 100px;
  background-image: url("images/tested.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.main__item--pagespeed {
  width: 280px;
  height: 100px;
  background-image: url("images/pagespeed.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.main__item--backend {
  width: 280px;
  height: 100px;
  background-image: url("images/backend.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.main__item--title {
  font-size: 18px;
  line-height: 1.3em;
  color: #22313f;
  margin: 0;
}
.main__item--description {
  font-size: 14px;
  line-height: 1.5em;
  color: #5f5f5f;
}
@media screen and (max-width: 1024px) {
  .main__item {
    display: flex;
    width: 50%;
    margin-bottom: 53px;
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .main__item {
    display: flex;
    width: 100%;
    margin-bottom: 53px;
    flex-direction: column;
    align-items: center;
  }
}
.coffe {
  padding: 100px 10% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.coffe__content {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
}
.coffe__title {
  font-size: 36px;
  font-weight: 600;
}
.coffe__description {
  line-height: 1.5em;
  color: #332722;
}
.coffe__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid;
  width: 101px;
  height: 32px;
  color: #46bc70;
}
.coffe__button--text {
  text-decoration: none;
  color: #46bc70;
}
.coffe__button :hover {
  text-decoration: none;
  color: #46bc70c2;
}
.coffe__img {
  display: flex;
  align-items: flex-end;
  width: 65%;
}
.coffe__img--content {
  background-image: url("images/imac.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 100%;
  height: 495px;
}
@media screen and (max-width: 980px) {
  .coffe {
    padding: 0 5% 0;
    flex-direction: column;
    width: 100%;
  }
  .coffe__content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .coffe__img {
    width: 100%;
  }
}
@media screen and (max-width: 650px) {
  .coffe {
    padding: 0 5% 0;
    flex-direction: column;
    width: 100%;
  }
  .coffe__content {
    width: 100%;
    margin-bottom: 80px;
    align-items: center;
    text-align: center;
  }
  .coffe__img {
    width: 100%;
    height: 421px;
  }
}
@media screen and (max-width: 480px) {
  .coffe {
    padding: 0 5% 0;
    flex-direction: column;
    width: 100%;
  }
  .coffe__content {
    width: 100%;
    margin-bottom: 80px;
  }
  .coffe__img {
    width: 100%;
    height: 200px;
  }
}
@media screen and (min-width: 1441px) {
  .coffe {
    width: 100%;
  }
  .coffe__content {
    width: 100%;
  }
  .coffe__img {
    width: 55%;
  }
}
.devise {
  padding: 80px 10%;
  background: #46bc70;
}
.devise__img {
  background: url("images/coffe-devices.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 376px;
}
@media screen and (min-width: 320px) and (max-width: 480px) {
  .devise {
    padding: 0 1%;
  }
  .devise__img {
    width: 100%;
    height: 200px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .devise {
    padding: 0 10%;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .devise__img {
    width: 100%;
  }
}
@media screen and (min-width: 1224px) {
  .devise {
    padding: 0 10%;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .devise__img {
    width: 80%;
  }
}
@media screen and (min-width: 1824px) {
  .devise {
    padding: 20px 10%;
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .devise__img {
    width: 50%;
  }
}
.flue {
  display: flex;
  padding: 80px 10% 0;
  justify-content: space-between;
  align-items: center;
}
.flue__content {
  display: flex;
  flex-direction: column;
  width: 37%;
}
.flue__title {
  color: #89192b;
  font-size: 36px;
}
.flue__description {
  line-height: 1.5em;
  color: #5f5f5f;
}
.flue__description--italic {
  font-style: italic;
  font-size: 14px;
}
.flue__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid;
  width: 114px;
  height: 32px;
  color: #89192b;
  text-decoration: none;
  margin-top: 30px;
}
.flue__button :hover {
  color: #2bf7a2;
  text-decoration: none;
}
.flue__img {
  background-image: url("images/video-cover.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 730px;
  height: 479px;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .flue {
    padding: 0 5%;
    flex-direction: column;
  }
  .flue__content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .flue__img {
    width: 100%;
    height: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .flue {
    padding: 0 5%;
  }
  .flue__content {
    width: 50%;
  }
  .flue__img {
    width: 50%;
  }
}
@media screen and (min-width: 1224px) {
  .flue {
    padding: 20px 10%;
  }
  .flue__content {
    width: 45%;
  }
  .flue__img {
    width: 55%;
  }
}
@media screen and (min-width: 1824px) {
  .flue {
    padding: 20px 10%;
  }
  .flue__content {
    width: 60%;
  }
  .flue__img {
    width: 40%;
  }
}
.lucky {
  display: flex;
  padding: 80px 10%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  background: #f3f0eb;
}
.lucky__content {
  display: flex;
  flex-direction: column;
  width: 37%;
}
.lucky__title {
  color: #fe4365;
  font-size: 36px;
}
.lucky__title--decoration {
  color: #429efe;
}
.lucky__description {
  line-height: 1.5em;
  color: #5f5f5f;
}
.lucky__button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid;
  width: 114px;
  height: 32px;
  color: #19b5fe;
  text-decoration: none;
  margin-top: 40px;
}
.lucky__img {
  background-image: url("images/ipad.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 70%;
  height: 512px;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .lucky {
    padding: 0 5%;
    flex-direction: column;
  }
  .lucky__content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .lucky__img {
    width: 100%;
    height: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .lucky {
    padding: 0 5%;
  }
  .lucky__content {
    width: 45%;
  }
  .lucky__img {
    width: 50%;
  }
}
@media screen and (min-width: 1224px) {
  .lucky {
    padding: 20px 10%;
  }
  .lucky__content {
    width: 35%;
  }
  .lucky__img {
    width: 55%;
  }
}
@media screen and (min-width: 1824px) {
  .lucky {
    padding: 20px 10%;
  }
  .lucky__content {
    width: 25%;
  }
  .lucky__img {
    width: 35%;
  }
}
.roulette {
  display: flex;
  padding: 0 10% 80px;
  justify-content: center;
  align-items: center;
  background: #f3f0eb;
}
.roulette__content {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-around;
  width: 100%;
}
.roulette__title {
  color: #22313f;
  font-size: 24px;
}
.roulette__description {
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  color: #5f5f5f;
  text-transform: uppercase;
}
.roulette__description--italic {
  text-decoration: none;
  font-style: italic;
  font-size: 24px;
}
.roulette__img {
  background-image: url("images/video-rulette.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 596px;
}
@media screen and (min-width: 320px) and (max-width: 600px) {
  .roulette {
    padding: 0 5%;
    flex-direction: column;
  }
  .roulette__content {
    width: 100%;
    align-items: center;
    text-align: center;
  }
  .roulette__img {
    width: 100%;
    height: 300px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .roulette {
    padding: 0 5%;
  }
  .roulette__img {
    width: 100%;
  }
}
@media screen and (min-width: 1224px) {
  .roulette {
    padding: 20px 10%;
  }
  .roulette__img {
    width: 90%;
  }
}
@media screen and (min-width: 1824px) {
  .roulette {
    padding: 20px 10%;
  }
  .roulette__img {
    width: 50%;
  }
}
.sibvaleo {
  padding: 0;
}
.sibvaleo__img {
  display: flex;
  text-align: center;
  align-items: center;
  flex-direction: column;
  background-image: url('images/sibvaleo.jpg');
  background-repeat: no-repeat;
  padding: 20px 20%;
  background-size: cover;
}
.sibvaleo__title {
  font-size: 36px;
  color: #fff;
}
.sibvaleo__description {
  color: #fff;
  font-size: 20px;
  line-height: 1.4em;
}
.sibvaleo__button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  font-size: 13px;
  border-radius: 5px;
  border: 1px solid;
  width: 114px;
  height: 32px;
  color: #fff;
  align-items: center;
}
.sibvaleo__button--text {
  text-decoration: none;
  color: #fff;
}
.sibvaleo__button :hover {
  color: #ffffff78;
}
.sibvaleo__works {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  padding: 50px;
}
.sibvaleo__works--title {
  color: #5f5f5f;
  margin: 0;
  line-height: 2em;
}
.sibvaleo__works--text {
  text-decoration: none;
  color: #19b5fe;
}
.sibvaleo__works a:hover {
  text-decoration: underline;
}
@media screen and (max-width: 800px) {
  .sibvaleo {
    padding: 0;
  }
  .sibvaleo__img {
    padding: 0 5%;
    width: 100%;
    background-size: auto;
  }
  .sibvaleo__button {
    margin-bottom: 30px;
  }
}
.contact {
  padding: 50px;
  display: flex;
  background: linear-gradient(270deg, #00d2ff, #3a7bd5);
  align-items: center;
  justify-content: center;
}
.contact__img {
  display: flex;
  justify-content: flex-end;
  width: 50%;
}
.contact__img--me {
  height: 240px;
  width: 240px;
  background-size: 100%;
  background-image: url('images/contact.jpg');
  border-radius: 50%;
}
.contact__link {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  width: 50%;
}
.contact__link--text {
  font-size: 20px;
  line-height: 1.8em;
  color: #fff;
  margin-left: 42px;
  text-decoration: none;
}
.contact__link--mail {
  background-image: url('images/mail.png');
  background-size: 100%;
  background-position: center;
  width: 32px;
}
.contact__link--telegram {
  background-image: url('images/telegram.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 32px;
}
.contact__link--skype {
  background-image: url('images/skype.png');
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  width: 32px;
  border-radius: 32%;
}
@media screen and (max-width: 600px) {
  .contact {
    padding: 20px 10%;
    flex-direction: column;
  }
  .contact__link {
    padding: 0;
    width: 65%;
    margin-top: 20px;
  }
  .contact__img {
    width: 100%;
    justify-content: center;
  }
}
.footer {
  padding: 15px;
}
.footer__text {
  color: #5f5f5f;
  text-align: center;
  font-size: 12px;
  line-height: 1.4em;
  font-weight: 700;
}
.salary {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('images/salary.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  color: #fff;
  padding: 0 10%;
}
.salary__input {
  display: flex;
  flex-direction: column;
}
.salary__button {
  margin-bottom: 20px;
  color: red;
}
.salary__text {
  color: black;
  margin-bottom: 10px;
}
.salary__text--home {
  font-weight: bold;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
}
