.roulette {
    display: flex;
    padding: 0 10% 80px;
    flex-direction: column;
    align-items: center;
    background: #f3f0eb;

    
        &__content {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    
        &__title {
            color: #22313f;
            font-size: 24px;
            
        }
    
        &__description {
            line-height: 1.5em;
            color: #5f5f5f;
            
            &--italic {
                font-style: italic;
                font-size: 14px;
            }
        }
    
        &__img {
            background-image: url("images/video-rulette.jpg");
            background-size: 100%;
            background-repeat: no-repeat;
            background-position: center;
            width: 100%;;
            height: 596px;
        }
}

@media screen and (min-width : 320px) and (max-width : 600px) {

    .roulette {
        padding: 0 5%;
        flex-direction: column;

    &__content {
        width: 100%;
        align-items: center;
        text-align: center;
        }
        
    &__img {
        width: 100%;
        height: 300px;
    }
    }
}   

@media screen and (min-width : 768px) and (max-width : 1024px) {

    .roulette {
        padding: 0 5%;

        &__content {
            width: 100%;
            }

        &__img {
            width: 100%;
            
        }
    }
}   

@media screen and (min-width : 1224px) {

    .roulette {
        padding: 20px 10%;

        &__content {
            width: 50%;
            }
        
        &__img {
            width: 90%;
            
        }
    }
} 

@media screen and (min-width : 1824px) {

    .roulette {
        padding: 20px 10%;

        &__content {
            width: 25%;
            }

        &__img {
            width: 50%;
            
        }
    }
}